CREATE USER root WITH ENCRYPTED PASSWORD '{{ POSTGRES_ROOT_PASSWORD }}';

CREATE DATABASE "{{ POSTGRES_DB }}" OWNER {{ POSTGRES_USER }};
CREATE DATABASE dev OWNER {{ POSTGRES_USER }};
CREATE DATABASE stage OWNER {{ POSTGRES_USER }};
CREATE DATABASE prod OWNER {{ POSTGRES_USER }};

GRANT ALL PRIVILEGES ON DATABASE "{{ POSTGRES_DB }}" TO {{ POSTGRES_USER }};
GRANT ALL PRIVILEGES ON DATABASE "{{ POSTGRES_DB }}" TO root;
CREATE DATABASE root OWNER root;
