version: '3.8'

services:
  gitlab:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: gitlab
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        external_url '{{external_url}}'
        gitlab_rails['gitlab_shell_ssh_port'] = {{gitlab_shell_ssh_port}}
        gitlab_rails['db_adapter'] = "postgresql"
        gitlab_rails['db_host'] = "database"
        gitlab_rails['db_port'] = 5432
        gitlab_rails['db_database'] = {{postgres_db}}
        gitlab_rails['db_username'] = {{postgres_user}}
        gitlab_rails['db_password'] = {{postgres_password}}
      GITLAB_ROOT_PASSWORD: "{{ gitlab_root_password }}"
    privileged: true
    ports:
      - "8080:80"
      - "443:443"
      - "2224:22"
    volumes:
      - gitlab_config:/etc/gitlab
      - gitlab_logs:/var/log/gitlab
      - gitlab_data:/var/opt/gitlab
    networks:
      - gitlab_network

volumes:
  gitlab_config:
  gitlab_logs:
  gitlab_data:

networks:
  gitlab_network:
    external: true

